<!DOCTYPEhtml>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Employees Directory</title>
		<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
	</head>
	<body>
		<div class = "container">
			<h3>Employees Directory</h3>
			<hr>
			<a th:href="@{/employees/showFormForAdd}" class="btn btn-primary btn-sm mb-3">Add Employee</a>
			<table class="table table-borderd table-striped">
				<thead class="thead-dark">
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>Action</th>
				</tr>
			</thead>
				<tbody>
					<tr th:each="iter:${employees}">
						<td th:text="${iter.firstName}" />
						<td th:text="${iter.lastName}" />
						<td th:text="${iter.email}" />
						<td>
							<a th:href="@{/employees/showFormForUpdate(id=${iter.id})}" class="btn btn-info btn-sm" >Update</a>
							<a th:href="@{/employees/delete(id=${iter.id})}" class="btn btn-danger btn-sm" onclick="if (!(confirm('Are you want ?'))) return false">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>